# BaekJoon Stage 2(If문)

### Problem 1330. 두 수 비교하기 
- 문제: 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.
- 입력: 첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.
- 출력: 첫째 줄에 다음 세 가지 중 하나를 출력한다.

A가 B보다 큰 경우에는 '>'를 출력한다.  
A가 B보다 작은 경우에는 '<'를 출력한다.  
A와 B가 같은 경우에는 '=='를 출력한다.

In [ ]:
a, b = map(int, input().split())
if a<b:
    print('<')
elif a>b:
    print('>')
else:
    print('==')

### Problem 9498. 시험 성적
- 문제: 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.
- 입력: 첫째 줄에 시험 점수가 주어진다. 시험 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.
- 출력: 시험 성적을 출력한다.

In [ ]:
score = int(input())
if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

# Problem 2753. 윤년
- 문제: 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오. 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다. 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.
- 입력: 첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.
- 출력: 첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

In [ ]:
year = int(input())

if year % 4 ==0:
    if year % 100 != 0 or year % 400 ==0:
        print('1')
    else:
        print('0')
else:
    print('0')

# Problem 5543. 상근날드
- 문제: 상근날드에서 가장 잘 팔리는 메뉴는 세트 메뉴이다. 주문할 때, 자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면, 가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다. 햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다. 햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.
- 입력: 입력은 총 다섯 줄이다. 첫째 줄에는 상덕버거, 둘째 줄에는 중덕버거, 셋째 줄에는 하덕버거의 가격이 주어진다. 넷째 줄에는 콜라의 가격, 다섯째 줄에는 사이다의 가격이 주어진다. 모든 가격은 100원 이상, 2000원 이하이다.
- 출력: 첫째 줄에 가장 싼 세트 메뉴의 가격을 출력한다.

In [ ]:
sc1=int(input())
sc2=int(input())
sc3=int(input())
bev1=int(input())
bev2=int(input())

v1=0
v2=0

if sc1 > sc2:
    v1=sc2
else:
    v1=sc1
    
if v1 > sc3:
    v1=sc3
    
if bev1 > bev2:
    v2= bev2
else:
    v2= bev1
    
print(v1+v2-50)

#### 삼항연산자 사용!

In [8]:
sc1=int(input())
sc2=int(input())
sc3=int(input())
bev1=int(input())
bev2=int(input())

res1 = sc2 if sc1>sc2 else sc1
res1 = sc3 if res1>sc3 else res1

res2 = bev2 if bev1 > bev2 else bev1

print(res1+res2-50)

800
700
900
198
330
848

# Problem 10817. 세 수
- 문제: 세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 
- 입력: 첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)
- 출력: 두 번째로 큰 정수를 출력한다.

In [32]:
a, b, c = map(int,input().split())

if(a >= b):
    if(a >= c):
        if(b >= c):
            print(b)
        else:
            print(c)
    else:
        print(a)
else:
    if(b >= c):
        if(a >= c):
            print(a)
        else:
            print(c)
    else:
        print(b)

1 2 3
2

In [39]:
s = list(map(int,input().split()))
s.sort()
print(s[-2])

10 20 20
20

# Problem 14681. 사분면 고르기

In [ ]:
n1=int(input())
n2=int(input())

if n1 > 0:
    if n2>0:
        print(1)
    else:
        print(4)
else:
    if n2>0:
        print(2)
    else:
        print(3)

# Problem 2884. 알람시계

In [24]:
ho, mi = map(int,input().split())

to = 60*ho+mi
re = to -45

s1=re//60
s2=re-s1*60

if re < 0:
    re+=1440
    s1=re//60
    s2=re-s1*60

print(s1,s2)

10 10
9 25